.register {
  width: 100vw;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1) 118%,
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/3a073c5f-0160-4d85-9a42-6f59aa4b64b9/947d9d58-b644-43b9-9cbc-d4b8367b86c1/ID-en-20220718-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: rgb(190, 12, 12);
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
      width: 500px;
      text-align: center;
    }

    h2 {
      margin: 25px;
    }

    p {
      font-size: 20px;
    }

    .input {
      width: 50%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input{
          flex: 9;
          height: 4rem;
          border: none;
          padding: 0 10px;
      }

      .registerButton{
          flex: 3;
          height: 4rem;
          background-color: rgb(190, 12, 12);
          border: none;
          color: white;
          font-size: 22px;
          cursor: pointer;
      }
    }
  }
}
